/* GENERAL */

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: auto;
  width: 1500px;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}

.separator{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-hr{
  width: 60px;
}

.sep-one{
  float: left;
  margin-top: 8px;
}

.sep-two{
  float: right;
  margin-top: 8px;
}
.esp{
  margin-left: 5px;
  margin-right: 5px;
  color: #5CADD3;
}

h2{
  text-transform: uppercase;
  font-size: 35px;
}

/* HEADER */

.header-nav{
  display: flex;
  justify-content: space-around; 
  align-items: center;
  width: 1500px;
  margin: 25px 0;
}

.logo{
  width: 250px;
  height: 50px;
}
.nav ul{
  display: flex;
}

.nav ul li{
  padding-right: 35px;
  margin: 10px;
}

.nav .nav-block .nav-link a:hover{
  color: #5CADD3;
  border-top: 3px solid #5CADD3;
  padding-top: 35px;
}


/* MAIN SLIDER */

.slider-content{
  color: #fff;
  margin-bottom: -165px;
}

.img-slider{
  width: 1500px;
  height: 550px;
}

.text-slider{
  position: relative;
  left: 140px;
  top: -400px;
}


h1{
  font-size: 32px;
  margin-bottom: 21px;
}

h1 span{
  color: #5CADD3;
}

.slider-content p{
  margin-bottom: 10px;
  margin-left: -50px;
}

.button1{
  display: block;
  background-color: #5cadd3;
  width: 100px;
  height: 16px;
  font-size: 14px;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
}

/* SERVICES */

#services{
  text-align: center;
  padding: 75px;
}


.services-items{
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.text{
  margin-bottom: 10px;
}
.services-img{
  width: 510px;
  height: 320px;
  padding-left: 80px;
  margin-top: 25px;
}

.descript{

  width: auto;
  display: block;
  padding-top: 140px;
}

.descript li{
  padding-bottom: 20px;
}


.descript h4, p{
  padding-left: 50px;
}

.descript-content{
  display: flex;
}

.group-ico{
  display: flex;
  color: #5CADD3;
}

.icones01 i{
  font-size: 22px;
  border: 1px solid #d7d7d7;
  border-radius: 50%;
  padding: 22px;
}

.icones02{
  position: relative;
  top: 25px;
  right: 10px;
}

.descript-text{
  margin-top: 15px;
}


