/* GENERAL */

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: auto;
  width: 1500px;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}

.separator{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-hr{
  width: 60px;
}

.sep-one{
  float: left;
  margin-top: 8px;
}

.sep-two{
  float: right;
  margin-top: 8px;
}
.esp{
  margin-left: 5px;
  margin-right: 5px;
  color: #5CADD3;
}

h2{
  text-transform: uppercase;
  font-size: 35px;
}

/* HEADER */

.header-nav{
  display: flex;
  justify-content: space-around; 
  align-items: center;
  width: 1500px;
  margin: 25px 0;
}

.logo{
  width: 250px;
  height: 50px;
}
.nav ul{
  display: flex;
}

.nav ul li{
  padding-right: 35px;
  margin: 10px;
}

.nav .nav-block .nav-link a:hover{
  color: #5CADD3;
  border-top: 3px solid #5CADD3;
  padding-top: 35px;
}


/* MAIN SLIDER */

.slider-content{
  color: #fff;
  margin-bottom: -165px;
}

.img-slider{
  width: 1500px;
  height: 550px;
}

.text-slider{
  position: relative;
  left: 140px;
  top: -400px;
}


h1{
  font-size: 32px;
  margin-bottom: 21px;
}

h1 span{
  color: #5CADD3;
}

.slider-content p{
  margin-bottom: 10px;
  margin-left: -50px;
}

.button1{
  display: block;
  background-color: #5cadd3;
  width: 100px;
  height: 16px;
  font-size: 14px;
  font-weight: bold;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
}

/* SERVICES */

#services{
  text-align: center;
  padding: 75px;
}


.services-items{
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.text{
  margin-bottom: 10px;
}
.services-img{
  width: 510px;
  height: 320px;
  padding-left: 80px;
  margin-top: 25px;
}

.descript{

  width: auto;
  display: block;
  padding-top: 140px;
}

.descript li{
  padding-bottom: 20px;
}


.descript h4, p{
  padding-left: 50px;
}

.descript-content{
  display: flex;
}

.group-ico{
  display: flex;
  color: #5CADD3;
}

.icones01 i{
  font-size: 22px;
  border: 1px solid #d7d7d7;
  border-radius: 50%;
  padding: 22px;
}

.icones02{
  position: relative;
  top: 25px;
  right: 10px;
}

.descript-text{
  margin-top: 15px;
}


/* PROJECT */

#project{
  text-align: center;
  padding: 75px;
  margin-bottom: -70px;
}

.text{
  margin-bottom: 20px;
}

.btn-items{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.btn-link{
  position: relative;
  width: 150px;
  height: 50px;
}

.btn1, .btn2, .btn3{
  background-color: #E5E5E5;
  border: none;
  width: 150px;
  height: 50px;
  margin-right: -4px;
  font-weight: bold;
  color: #64686d;
}

.btn1{
  border-radius: 8px 0 0 8px;
}


.btn3{
  border-radius: 0 8px 8px 0;
}

.bulle{
  position: absolute;
  bottom: -9px;
  left: 68px;
}

.btn1:hover, .btn2:hover, .btn3:hover{
  box-shadow: 0px 4px 0px #5cadd3;
  background-color: #5cadd3;
  color: #fff;
  cursor: pointer;
}

.bulle{
  position: absolute;
  left: 68px;
  bottom: -15px;
  display: none;
}

.btn1:hover + .bulle{
  display: block;
}

.btn2:hover + .bulle{
  display: block;
}

.btn3:hover + .bulle{
  display: block;
}

.project-img1 ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.project-img1 ul li{
  margin-right: 15px;
  margin-bottom: 15px;
}

.img-portfolio{
  width: 270px;
  height: 180px;
}

.text-hover{
  position: absolute;
  margin-top: -80px;
  width: 240px;
  height: 57px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
  padding-left: 30px;
  padding-top: 20px;
  opacity: 0;
}

.text-hover:hover{
  position: absolute;
  margin-top: -80px;
  width: 240px;
  height: 57px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
  padding-left: 30px;
  padding-top: 20px;
  opacity: 1;
  font-weight:bold;
}

.text-hover a{
  color: #fff;
}

.fa-eye{
  background-color: #5CADD3;
  color: #fff;
  font-size: 22px;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  text-align: center;
  padding-top: 22px;
  margin-top: -54px;
  margin-left: 220px; 
}

/* FOOTER */

#contact{
  position: relative;
  margin-top: 50px;
}

.filter{
  background: #C6A2E8;
  opacity: 1;
}

.map{
  opacity: 0.8;
}

.form{
  background-color: #fff;
  opacity: 0.8;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 530px;
  top: 50px;
  right: 70px;
  border-radius: 3%;
}


.form p, .form h4{
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 15px;
}

.form input{
margin-bottom: 20px;
width: 320px;
margin: 15px auto;
}

.form textarea{
  width: 320px;
  margin: 0 auto;
}

.form button{
  background-color: #5CADD3;
  border: none;
  width: 150px;
  height: 50px;
  font-weight: bold;
  box-shadow: 0px 4px 0px #5cadd3;
  background-color: #5cadd3;
  color: #fff;
  margin-left: 15px;
  margin-top: 15px;
  cursor: pointer;
}
